@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* --dark-blue: hsl(208, 23%, 22%); */
  --dark-blue: hsl(209, 23%, 22%);
  --box-dark-mode: rgb(43, 57, 69, 95%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --error-text: rgb(189, 20, 2);
}

html,
body {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 16px;
  height: 100%;
  /* max-width: 1440px !important; */
}

.app,
.app_darkMode {
  background-color: var(--white);
  color: var(--very-dark-blue);
  padding-bottom: 0.30vh !important;
  min-height: 100vh !important;
  height: 100% !important;
  /* max-width: 1440px !important; */
}

.app_darkMode {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.header_container,
.header_container_darkMode {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  bottom: 150px;
  font-weight: 800;
  padding-bottom: .5rem;
  height: 80px;

  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

  color: var(--very-dark-blue) !important;
  margin-bottom: 100px;
  padding-right: 5% !important;
  padding-left: 5% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_container_darkMode {
  background-color: var(--very-dark-blue) !important;
  color: var(--white) !important;
  /* box-shadow: 0 4px 9px 0 var(--very-dark-blue-light-mode) !important; */

  background: var(--dark-blue);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px 0px 10px 0px !important; */
  /* max-width: 1440px !important; */
  /* padding: 0 1.25rem 0 1.25rem !important; */
}

.app_title {
  font-size: 14px;
  font-weight: 800;
}

.dark_mode_toggler {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 600;
}

.dark_mode_toggler:hover {
  cursor: pointer;
}

.filter_and_search_container {
  width: 100% !important;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* margin: 80px 0px 50px 0px; */
  margin: 80px auto;
}

.form_input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* border-radius: 0.25rem; */
  /* padding: 0px 5px; */
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--dark-gray);
}

.app_darkMode .form_input {
  color: var(--white);
  border-radius: 5px;
  background: #2B3844;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.form_input>label {
  padding: 0px 25px;
}

.filter_and_search_container {
  padding-left: 5%;
  padding-right: 5%;
}

.country_name_search_input {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

  /* width: 343px; */
  height: 48px;
  flex-shrink: 0;
}

.country_name_search_input>label {
  width: 16px;
  margin: 0px 20px;
  color: var(--dark-gray);
}


.form_input>input {
  color: #c4c4c4;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
  border: none;
}

.region_filter_div,
.region_filter_div select {
  width: 200px;
  height: 48px;
  flex-shrink: 0;

  border: none;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.app_darkMode .region_filter_div {
  border-radius: 5px;
  background: #2B3844;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.region_filter_div select {
  padding-left: 24px;
}

.app_darkMode .country_name_search_input {
  box-shadow: 0 2px 4px 0 var(--very-dark-blue-light-mode);
  background-color: var(--dark-blue) !important;
}

.app_darkMode .form_input>input {
  color: var(--white) !important;
  background: none;
}


input:focus {
  border: 1px solid var(--dark-gray);
}

.form_input>input:focus,
.form_input>input:focus-visible {
  border: none;
}

input:focus {
  border: none;
}

.form_input>input::placeholder {
  color: var(--dark-gray);
  font-size: 12px !important;
  /* padding: 40px 0 !important; */
}

.app_darkMode .region_filter_div select {
  box-shadow: 0 2px 4px 0 var(--very-dark-blue-light-mode);
}


.region_filter_div select {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
}

.region_filter_div select>option {
  background-color: var(--white) !important;
  color: var(--very-dark-blue) !important;
}

.region_filter_div select>option:checked {
  color: #333 !important;
}

.app_darkMode .region_filter_div select>option {
  background-color: var(--very-dark-blue) !important;
  color: var(--white) !important;
}

.app_darkMode #region_filter {
  color: var(--white);
  border-radius: 5px;
  background: #2B3844;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

#region_filter option {
  color: var(--very-dark-blue);
  background-color: var(--white);
  line-height: 16px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  padding-top: 50px !important;
  display: block !important;
  border: none !important;
}

select#region_filter option:default,
select#region_filter option:focus {
  color: var(--dark-gray) !important;
}

.countries_container {
  padding-left: 5%;
  padding-right: 5%;
}

.country_card {

  width: 264px;
  height: 336px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);

  margin: 40px auto 72px auto;
}

.country_card:hover {
  cursor: pointer;
}

.app_darkMode .country_card {
  color: var(--white) !important;

  border-radius: 5px;
  background: #2B3844;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);

}

.country_card>.info {
  margin-top: 0px;
  margin: 0 20px;
}

.country_card .country_flag_container {
  width: 267px;
  height: 160px;
  flex-shrink: 0;
  display: flex;
}

.country_card img.country_flag {
  width: 100%;
  height: 160px;
  flex-shrink: 0;

  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-color: lightgray;
}

p.country_name {
  color: var(--very-dark-blue);
  font-size: 18px;
  font-weight: 800;
}


.app_darkMode p.country_name {
  color: var(--white);
}

.country_stat_basic>p {
  font-size: 14px;
  line-height: 16px !important;
}

.country_stat_basic>p>span {
  font-weight: 600;
}



/* Styling of the country details route */

.details_page_container {
  position: relative;
  margin: -30px 28px 80px 27.16px;
  width: auto;
}

.details_page {
  width: 100% !important;
  height: 100% !important;
}

.back_button_container {
  position: relative;
  top: 0px;
  padding-top: 100px;
  margin-top: 40px;
  margin-bottom: 64px;
  min-width: 104px !important;
  height: 32px !important;
}

.back_button_container button {
  width: 104px;
  height: 32px;
  flex-shrink: 0;

  border: none;
  border-radius: 2px;
  background: #FFF;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
}

.app_darkMode .back_button_container button {
  border-radius: 6px;
  background: #2B3844;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  color: #fff;
}

.back_button_container button:hover {
  cursor: pointer;
}

.button {
  padding: 5px;
  /* box-shadow: 1px 0px 4px 0px var(--dark-gray); */
  border: none;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 0.25rem;
  font-weight: 300 !important;
  /* width: 110px; */
  background-color: var(--white);
}

.app_darkMode .button {
  box-shadow: 1px 0px 4px 0px var(--very-dark-blue) !important;
  border: var(--white);
  background-color: var(--dark-blue);
  color: var(--white);
}

.back_button_container button span {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  flex-direction: row;
  margin: 5px 5px;
  border-radius: 0.5rem;
}

.country_card_details {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  padding: none;
}

.country_card_details_not_found {
  margin-top: 120px;
  color: var(--dark-blue);
  /* background-color: var(--white) !important; */
}

.app_darkMode .country_card_details_not_found {
  color: var(--white);
}

.country_card_details .flag {
  height: 229px !important;
}

.country_card_details .flag>img {
  max-width: 320px !important;
  width: 100% !important;
  object-fit: cover;
  border-radius: 5.72px;
  max-height: 229px !important;
  height: 229px;
  ;
}

.selected_country_name>p {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 27.08px;
}

.app_darkMode .selected_country_name>p {
  color: #ffffff !important;
}

.country_card_details>.country_info_1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
}

.app_darkMode .country_info p,
.app_darkMode .country_info span,
.app_darkMode .border_countries_header {
  color: #fff;
}

.country_card_details .country_info_2 {
  margin-top: 32px;
}

.country_info p {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 228.571% */

}

.country_info p span {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.country_card_details>.country_info_1 p>span,
.country_card_details>.country_info_2 p>span {
  font-weight: 300;
}

.border_countries_header {

  color: #111517;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul.border_countries {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

ul.border_countries>li {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;

  margin: 5px 10px 5px 0 !important;
  padding: 5px;

  width: 96px;
  height: 28px;
  flex-shrink: 0;

  border-radius: 2px;
  background: #FFF;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);

}

ul.border_countries>li:hover {
  cursor: pointer;
}

ul.border_countries>li:last-child {
  margin: 5px 0 5px 0 !important;
}

.border_countries_container {
  margin-top: 34px;
  margin-bottom: 0px;
}


/* Style the feedback container */
.countries_container .no_countries_found,
.countries_container .no_countries_found_error {
  font-weight: 600;
  color: var(--error-text) !important;
  width: 50%;
}


.countries_container .no_countries_found span,
.countries_container .no_countries_found_error span {
  font-weight: 800;
  display: inline !important;
}


/* Special Media Queries */

@media (min-width: 768px) {

  .countries_container {
    margin-top: 100px;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .country_name_search_input,
  .region_filter_div {
    /* width: 18rem !important; */
    height: 65px !important;
    padding: 0 !important;
    position: unset;
    top: unset;
  }

  .filter_and_search_container {
    width: 100% !important;
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .details_page {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    min-height: 100% !important;
    height: 100% !important;
  }

  .back_button_container {
    /* position: unset; */
    padding-top: 100px;
    /* margin-left: 5.5rem; */
    margin-top: 80px;
  }

  .app_darkMode .back_button_container>button {
    box-shadow: 1px 2px 0px 0 var(--box-dark-mode) !important;
  }

  .country_card {
    margin: 30px auto;
  }

  .country_card_details {
    width: 100% !important;
    margin: 0 auto !important;
    /* padding: 3rem 3rem !important; */
  }

  .selected_country_name>p {
    font-size: 24px;
    font-weight: 800;
  }

  .country_info,
  .border_countries {
    width: 35rem !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -30px !important;
  }

  .border_countries {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    justify-content: flex-start !important;
    flex-wrap: wrap;
  }

  .border_countries_container {
    margin-top: 10px;
    margin-bottom: 40px !important;
  }

  .country_info,
  .border_countries {
    width: 100% !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    
    align-items: flex-start;
    flex-direction: row;
    margin-top: 0px !important;
  }

}



@media (min-width: 1024px) {

  .countries_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    padding-left: auto !important;
    padding-right: auto !important;
    /* max-width: 1440px !important; */
    width: 100% !important;
  }

  .header p.app_title {
    color: #111517;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .dark_mode_toggler {
    color: #111517;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .header_container_darkMode p.app_title, .header_container_darkMode .dark_mode_toggler{
    color: #fff !important;
  }

  .countries_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .details_page {
    width: 95% !important;
    max-width: 100% !important;
    margin: 0 auto;
    min-height: 100% !important;
    height: 100% !important;

    /* padding-right: 5% !important; */
    /* padding-left: 5% !important; */

  }

  .back_button_container {
    position: unset;
    padding-top: 100px;
    /* margin-left: 4rem; */
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .country_card_details {
    width: 100% !important;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0px !important;
    /* min-height: 600px !important; */
  }

  .country_card_details .flag {
    border-radius: 2.5rem !important;
    width: 100px !important;
    height: 290px !important;
    max-width: 5% !important;
    max-height: 290px !important;
    margin-top: 0;
    padding-top: 0;
  }

  .country_card_details .flag>img {
    max-width: 100% !important;
    width: 500px !important;
    height: 290px !important;
    max-width: 500px !important;
    max-height: 290px !important;
    object-fit: cover !important;
  }

  .country_card_details .country_info_2 {
    margin-top: 0;
  }

  .country_info_container {
    margin-left: auto;
  }

  .country_info_container .selected_country_name {
    padding-top: 0 !important;
    margin-top: 0;
  }

  .selected_country_name>p {
    padding-top: 0px !important;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  ul.border_countries li {
    margin-bottom: 10px !important;
  }

  .header_container {
    box-shadow: 0 4px 9px 0 var(--very-light-gray) !important;
  }

  .header_container_darkMode {
    box-shadow: 0 4px 9px 0 var(--very-dark-blue) !important;
    background-color: var(--dark-blue) !important;
  }

  

  .form_input {
    font-size: 14px;
  }

  .form_input>input {
    font-size: 14px;
    color: var(--very-dark-blue);
    padding: 25px 220px 25px 10px !important;
    width: 100%;
    font-weight: 600;
    background: none;
  }

  .country_name_search_input {
    /* box-shadow: 0 1px 2px 0 var(--very-light-gray) !important; */
    box-shadow: 0 2px 1px 0 var(--dark-gray);
  }

  .country_card {
    margin: 30px 0 30px 0;
  }

  .country_card_details {
    margin-top: 80px;
    width: 100% !important;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0px !important;
    min-height: 600px !important;
  }

  .selected_country_name>p {
    font-size: 32px;
  }

  .country_card_details .flag {
    /* margin-top: 50px;
    height: 401px;
    width: 560px;
    max-width: 560px;
    max-height: 401px;
    padding: 0 650px 500px 0;
    border-radius: 5px; */
  }

  .country_card_details .flag>img {
    width: 560px !important;
    height: 401px !important;
    object-fit: cover !important;
  }

}